#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=HomA component
After=network.target

[Service]
Type=simple
EnvironmentFile=/etc/homa/homa.conf
ExecStart=/bin/sh -c "${HOMA_BASEDIR}/components/%i/%i --brokerHost ${HOMA_BROKER_HOST} --brokerPort ${HOMA_BROKER_PORT} ${HOMA_COMPONENT_OPTS_%i}"
Restart=on-failure