 <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <meta content="text/html; charset=iso-8859-1" http-equiv="Content-Type" />
    <link rel="stylesheet" type="text/css" href="css/app.css" media="screen" />
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
    <title>HomA</title>
  </head>
  <body>
    <div id="header">Header</div>
    <div id="container">

    </div>

    <div id="templates">
    <script id="settings-template" type="text/template">
      <div class="view-header">
        <h2>
          <a href="#">
            Rooms
          </a>
        </h2>
        <h1>
          Settings
        </h1>
      </div>
        <ul>
          <li class="setting"> 
            <h1>
              Connection Status
            </h1>
            <h2 id="connection-status">
              <%= connectionStatus %>
            </h2>
          </li>
          <li> 
            <h1>
              Server
            </h1>
            <input id="serverInput" type="text" value="<%= server %>" />
          </li>
        </ul>
      </div>
      <ul id="room-detail-links">
      </ul>
    </script>
    <script id="room-list-template" type="text/template">
      <div class="view-header">
        <h1>
          Rooms
        </h1>
      </div>
      <ul id="room-detail-links">
      </ul>
      <div class="view-footer">
        <a id="settingsLink" href="#/settings">Settings</a>
      </div>
    </script>
    <script id="room-detail-link-template" type="text/template">
      <h1>
      <a href="#/rooms/<%= id %>">
        <%= name || id  %>
      </a>
      </h1>
    </script>
    <script id="room-detail-template" type="text/template">
      <div class="view-header">
        <h2>
          <a href="#">
            Rooms
          </a>
        </h2>
        <h1>
          <%= id %>
        </h1>
      </div>
      <div class="devices">
      </div>
    </script>
    <script id="view-placeholder-template" type="text/template">
      <div class="view-header">
        <h2>
          <a href="<%= backHref %>">
            <%= backText %>
          </a>
        </h2>
        <h1>
          <%= id %>
        </h1>
      </div>
      <p>
        This view is empty
      </p>
    </script>
    <script id="device-template" type="text/template">
          <h1>
            <a href="#/devices/<%= id %>/settings">
              <%= name || id %>
            </a>
          </h1>
          <div class="controls">
          </div>
    </script>
    <script id="device-settings-template" type="text/template">
      <div class="view-header">
      <h2>
        <a href="#/rooms/<%= roomname %>">
          <%= roomname %>
        </a>
      </h2>
      <h1>
        <%= name || id %>
      </h1>
      </div>
      <div class="settings">
        <div class="setting">
          <h1>
            Id
          </h1>
          <h2><%= id %></h2>
        </div>
        <div class="setting">
          <h1>
            Room
          </h1>
          <input id="roomInput" type="text" value="<%= roomname %>" placeholder="unassigned" />
        </div>
        <div class="setting">
          <h1>
            Name
          </h1>
          <input id="nameInput" type="text" value="<%= name %>" placeholder="<%= id %>" />
        </div>
      </div>
    </script>
    <script id="undefined-control-template" type="text/template">
      <h2>
        <%= id %>
      <h2>
      <span "missing-type">Loading...</span>
    </script>
    <script id="range-control-template" type="text/template">
      <h2>
        <%= id %>
      </h2>
      <div class="rangeWrapper">
        <input type="range" value="<%= value %>"  min="0" max="255"/>
      </div>
    </script>
    <script id="switch-control-template" type="text/template">
      <h2>
        <%= id %>
      </h2>
      <input type="checkbox" <%= checkedAttribute %>/> 
    </script>
    <script id="text-control-template" type="text/template">
      <h2>
        <%= id %>
      </h2>
      <span><%= value %></span> 
    </script>
    <script src="js/mosquitto.js" type="text/javascript"></script>
    <script src="js/jquery.js" type="text/javascript"></script>
    <script src="js/jquery.wookmark.js" type="text/javascript"></script>
    <script src="js/json2.js" type="text/javascript"></script>
    <script src="js/underscore.js" type="text/javascript"></script>
    <script src="js/backbone.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>   
