#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU General Public License as published by
#  the Free Software Foundation; either version 2 of the License, or
#  (at your option) any later version.

[Unit]
Description=HomA - Rules.js
Requires=mosquitto.service

[Service]
Type=simple
EnvironmentFile=/etc/conf.d/homa
ExecStart=/usr/bin/env node ${HOMA_BASEDIR}/components/rules/rules.js --brokerHost ${HOMA_BROKER_HOST} --brokerPort ${HOMA_BROKER_PORT}
