/*html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com  Twitter: @rich_clark */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block}nav ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}


/*
Homer Stylesheet    
*/

html, body {
    font-family: "Gotham Light", "Helvetica Neue", sans-serif;
    line-height: 1.5em;
    height: 100%;
    width: 100%;
    color: #a2a3a3;

    /*Disable anoying text select on elements that act like buttons*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;


    user-select: none;
}


body {
    min-height: 100%;
      background-image: -webkit-gradient(linear, right top, left bottom, from(#5dabc4), to(#1d4574));
}


#wrapper {
    background: #FFF;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.38);
    width: 300px;
    height: 480px;
    padding: 35px;
    position: absolute;
    margin-left: -185px;
    margin-top: -275px;
    left: 50%;
    top: 50%;
    overflow:hidden;
}

#slider {

}



.view-header {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 35px;

}
.view-header h1{
    font-size: 27px;
    color: #a5a5a7;
    margin-bottom: 35px;
}


#room-list a {
    font-size: 16px;
    display: block;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.room {
    display: none;
}

.back {
    font-size: 17px;
    color: #cdcdd0;
}


/*SLIDER*/
#slider {
    position: relative;
    width: 900px;
    -webkit-transition:all 0.1s ease-in-out;
}

.view {
width: 300px;
}

#room-list, #room-details{
    position: absolute;
    top: 0;
}

#room-list {
    left: 0;
}

#room-details {
    left: 335px;
}

#device-details {
    left: 670px;
}

.forward {
    cursor: pointer;
}











a {text-decoration: none; color: inherit;}

