/*html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com  Twitter: @rich_clark */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



/*
Homer Stylesheet    
*/

html, body {
    font-family: "Gotham Book", "Helvetica Neue", sans-serif;
    line-height: 1.5em;
}

body {
    background: url('../images/bg.png') repeat;
}

div#container {
    width: 350px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    margin-top: 40px;
    margin-left: -150px;
}

div.appliance {
    position: relative;
    margin-bottom: 40px;
}



div.appliance .body {
    height: 70px;
    width: 350px;
}



div.appliance .body > [data-type="switch"] {
    position: absolute;
    left: 0;
    height: 68px;
    width: 68px;
    background: url('../images/power-glyph.png') no-repeat center center #aeaeae;
    border: 1px solid #a7a7a7;
    cursor: pointer;
    border-radius: 2px 0 0 2px;
}

 .name {
    position: absolute;
    left: 69px;
    height: 68px;
    width: 279px;
    color: #FFF;
    font-size: 22px;
    text-shadow: 0px 3px 2px #A7A7A7;
    line-height: 69px;
    display: inline-block;
    font-weight: bold;
    background-color: #b7b7b7;
    border: 1px solid #a7a7a7;
    text-align: center;
    border-radius: 0 2px 2px 0;
}

[data-type="switch"][data-value="1"]  {
    background-color: #428baa !important;
    border-color: #3c8399 !important;
}

[data-type="switch"][data-value="1"] ~ .name {
    text-shadow: 0 1px 1px #204E5A;
    background-color: #51a3bc;
    border: 1px solid #3c8399;
}

div.appliance .controlls {
    margin-left: 16px;
    margin-top: -2px;
    border: 2px solid #ececec;
    background: #FFF;
    width: 282px;
    padding-left: 14px;
    padding-right: 18px; /*to compensate for border of children*/
}

div.appliance .controlls > * {
       margin-bottom: 14px;
}

div.appliance .controlls > *:first-child {
           margin-top: 14px;
}





input[data-type="range"] {
    background: url('../images/rangebg.png') -400px 0 no-repeat;
    border-radius: 2px;
    height: 18px;
    position: relative;
    width: 100%;
    -webkit-appearance: none;
    -webkit-transition: 0;
    border-left: 1px solid #81c0c1;
    border-right: 1px solid #d4d4d4;
}

input[data-type="range"]::-webkit-slider-thumb {
    background: #fafafa;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px 1px hsla(0,0%,100%,1),
                inset 0 -1px 1px 1px hsla(0,0%,0%,.1),
                0 1px 3px 1px hsla(0,0%,0%,.5),
                0 0 2px hsla(0,0%,0%,.25);
    content: '';
    display: block;
    position: relative;
    height: 21px;
    width: 21px;
    -webkit-appearance: none;
}

