/*html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com  Twitter: @rich_clark */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block} ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}


/*
Homer Stylesheet    
*/
@font-face {
    font-family: 'robotto';
    src: 
         url('Roboto-Light.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}


html, body {
    font-family: "robotto", "Helvetica Neue", sans-serif;
    line-height: 1.5em;
    height: 100%;
    width: 100%;
    color: #a2a3a3;
}


body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#5dabc4), to(#1d4574));
}


#container {
    background: #e8e8e8;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.38);
    width: 100%;
    height: 100%;
    position: relative;
    overflow:hidden;
}



.view-header {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 10px;
    padding: 10px;
    padding-left: 20px;
    background: -webkit-linear-gradient(top, #222222 0%, #212121 100%);
    box-shadow: 0 1px 2px #dbdbdb;



}

h1 {
    color: #a5a5a7;
    display: inline;
}

h2 {
    color: #cdcdd0;
    display: inline;
    text-transform: capitalize;
}



.view-header h1{
    font-size: 40px;
    line-height: 40px;
    color: #FFF;
        font-size: 22px;
        font-weight: normal;


}


.view-header ~ * h1 {
    display: block;
    margin-bottom: 5px;
    padding-bottom: 5px;

        border-bottom: 2px solid #b4b4b4;
    margin-left: 20px;
    margin-right: 20px;
    text-transform: uppercase;
}


.view-header h2  {
    font-size: 18px;
    margin-right: 5px;
    color: #9fa1a4;
            font-weight: normal;
}

.view-header h2:after {
    content: '/';
}


.device, .setting {
    margin-bottom: 35px;
}

.device .controls 
{
    margin-left: 20px;
    margin-right: 20px;

    color: #cdcdd0;
}



.device h1 {
    cursor: pointer;
                    text-shadow: 0px 1px 0px #FFF;
    margin-bottom: 15px;

}


.device .control {
    line-height: 24px;
    margin-bottom: 15px;
    padding-bottom: 15px;

    border-bottom: 1px solid #d5d5d5;
    position: relative;

}
.device .control:last-child {
    border-bottom: none;
}
.device .control h2 {
    color: #000;
    display: inline-block;
    margin-left: 10px;
    text-shadow: 0px 1px 0px #FFF;

}

input {
    margin: 0;
}

input[type="checkbox"] {
    position: absolute;
    right: 10px;

    border-radius: 2px;
    background: #cbcbcb;
    border: none;

    cursor: pointer;
    height: 22px;
    width: 85px;
    -webkit-appearance: none;
    line-height: 22px;
    text-align: center; 
    color: #FFF;

}



input[type="checkbox"]:after { 
    margin-top: -4px;

    background: #b7b7b7;
    content: 'OFF';
    display: block;
    height: 22px;
    left: 0px;
    top: 4px;
    position: relative;
    width: 40px;
}



input[type="checkbox"]:checked:after {
    left: 44px;
    background: #29a3cc;
    content: 'ON';
}



input[type="text"] {
    height: 22px;
    border: 1px solid #d9d9d9;
        border-radius: 2px;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #a2a3a3;
            font-size: 14px;

}


input[type="text"]:focus {
    outline: none;
    border-color: #7bbacd;
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);

}




a {text-decoration: none; color: inherit;}



