/*html5doctor.com Reset Stylesheet v1.6.1 Last Updated: 2010-09-17 Author: Richard Clark - http://richclarkdesign.com  Twitter: @rich_clark */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{ margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent}body{ line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{ display:block} ul{ list-style:none}blockquote,q{ quotes:none}blockquote:before,blockquote:after,q:before,q:after{ content:''; content:none}a{ margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent}ins{ background-color:#ff9; color:#000; text-decoration:none}mark{ background-color:#ff9; color:#000; font-style:italic; font-weight:bold}del{ text-decoration:line-through}abbr[title],dfn[title]{ border-bottom:1px dotted; cursor:help}table{ border-collapse:collapse; border-spacing:0}hr{ display:block; height:1px; border:0;  border-top:1px solid #ccc; margin:1em 0; padding:0}input,select{ vertical-align:middle}


/*
Homer Stylesheet    
*/

html, body {
    font-family: "Gotham Light", "Helvetica Neue", sans-serif;
    line-height: 1.5em;
    height: 100%;
    width: 100%;
    color: #a2a3a3;
}


body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100%;
    background-image: -webkit-gradient(linear, right top, left bottom, from(#5dabc4), to(#1d4574));
}


#container {
    background: #FFF;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.38);
    width: 300px;
    height: 480px;
    padding: 35px;
    position: relative;
    margin: 35px auto;
    overflow:hidden;
}



.view-header {
    border-bottom: 1px solid #e8e8e8;
    margin-bottom: 35px;
    padding-bottom: 30px;

}

h1 {
    color: #a5a5a7;
    display: inline;
}

h2 {
    color: #cdcdd0;
    display: inline;
    text-transform: capitalize;
}



.view-header h1{
    font-size: 27px;
}


.view-header ~ * h1 {
    display: block;
    margin-bottom: 5px;

}


.view-header h2 {
    font-size: 17px;
}

.device, .setting {
    margin-bottom: 35px;
}

.device .controls 
{
    color: #cdcdd0;
}



.device h1 {
    cursor: pointer;
}


.device .control {
        line-height: 24px;
    margin-bottom: 10px;

}
.device .control h2 {
    display: inline-block;
    width: 100px;
}

input {
    margin: 0;
}

input[type="checkbox"] {

    background: url('images/sliderBg.png') no-repeat -200px 0;
    border-radius: 2px;
    border-left: 1px solid #7badcd;
    border-right: 1px solid #d9d9d9;

    cursor: pointer;
    height: 18px;
    width: 50px;
    -webkit-appearance: none;
}



input[type="checkbox"]:after { 

    margin-top: -3px;
    background-color: #fbfbfb;
    background: url('images/handle.png') no-repeat 7px 7px, -webkit-linear-gradient(top, #fbfbfb 0%,#f4f4f4 100%); 

    border: 1px solid #c0c8ca;
    box-shadow: 0 1px 2px #dbdbdb;
    border-radius: 2px;
    content: '';
    display: block;
    height: 22px;
    left: -4px;
    position: relative;
    top: 0;
    width: 22px;
}

input[type="checkbox"]:checked {
    background-position: 0 0, 0px 0;
    padding-left: 30px;
    padding-right: 0;
}



input[type="range"] {

    background: url('images/sliderBg.png') no-repeat -100px 0;
    border-radius: 2px;
    border-left: 1px solid #7badcd;
    border-right: 1px solid #d9d9d9;
    cursor: pointer;
    height: 18px;
    -webkit-appearance: none;
        width: 185px;

}


input[type="range"]::-webkit-slider-thumb { 
    -webkit-appearance: none;

    margin-top: -1px;
    background-color: #fbfbfb;
    background: url('images/handle.png') no-repeat 7px 7px, -webkit-linear-gradient(top, #fbfbfb 0%,#f4f4f4 100%); 
    border: 1px solid #c0c8ca;
    box-shadow: 0 1px 2px #dbdbdb;
    border-radius: 2px;
    content: '';
    display: block;
    height: 24px;
 position: relative;
    width: 24px;

    margin-left: -4px;
       margin-right: -4px;
    }

input[type="text"] {
    height: 22pxs;
    border: 1px solid #d9d9d9;
        border-radius: 2px;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: center;
        padding-top: 6px;
        padding-bottom: 6px;
        color: #a2a3a3;
}
input[type="text"]:focus {
    outline: none;
    font-size: 18px;
    border-color: #7bbacd;
        -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.1),inset 0 -1px 0 rgba(0,0,0,0.07);

}




a {text-decoration: none; color: inherit;}



