 <!DOCTYPE html>
  <html>
  <head>
    <meta charset="utf-8">
    <link href="app.css" media="screen" rel="stylesheet" type="text/css"/>
    <title>Homer</title>
  </head>
  <body>
    <div id="container">
    </div>
    <div id="templates">
    <script id="settings-template" type="text/template">
      <div class="view-header">
        <h1>
          Settings
        </h1>
        <ul>
          <li> 
            <h2>
              Connection Status
            </h2>
            <div id="connection-status">
              <%= connectionStatus %>
            </div>
          </li>
        </ul>
      </div>
      <ul id="room-detail-links">
      </ul>
    </script>



    <script id="room-list-template" type="text/template">
      <div class="view-header">
        <h1>
          Rooms
        </h1>
      </div>
      <ul id="room-detail-links">
      </ul>
    </script>
    <script id="room-detail-link-template" type="text/template">
      <a href="#/rooms/<%= id %>">
        <%= name || id  %>
      </a>
    </script>
    <script id="room-detail-template" type="text/template">
      <div class="view-header">
        <h2>
          <a href="#">
            Rooms / 
          </a>
        </h2>
        <h1>
          <%= id %>
        </h1>
      </div>
      <div class="devices">
      </div>
    </script>

    <script id="room-detail-placeholder-template" type="text/template">
      <div class="view-header">
        <h2>
          <a href="#">
            Rooms / 
          </a>
        </h2>
        <h1>
          <%= id %>
        </h1>
      </div>
      <p>
        This room has not yet been loaded
      </p>
    </script>
    <script id="device-template" type="text/template">
          <h1>
            <a href="#/devices/<%= id %>/settings">
              <%= name || id %>
            </a>
          </h1>
          <!--<input class="edit" type="text" value="<%= name || id %>" />-->
          <div class="controls">
          </div>
    </script>

    <script id="device-settings-template" type="text/template">
      <h2>
        <a href="#/rooms/<%= roomname %>">
          <%= roomname %> / 
        </a>
      </h2>
      <h1>
        <%= name || id %>
      </h1>
    </script>

    <script id="undefined-control-template" type="text/template">
      <h2>
        <%= id %>
      <h2>
      <span "missing-type">Loading control</span>
    </script>
    <script id="range-control-template" type="text/template">
      <h2>
        <%= id %>
      </h2>
      <input type="range" <%= valueAttribute %> min="0" max="255"/>
    </script>
    <script id="switch-control-template" type="text/template">
      <h2>
        <%= id %>
      </h2>
      <input type="checkbox" <%= checkedAttribute %>/> 
    </script>

    

    <script src="libs/mosquitto.js"></script>
    <script src="libs/jquery.js"></script>
    <script src="libs/json2.js"></script>
    <script src="libs/underscore.js"></script>
    <script src="libs/backbone.js"></script>
    <script src="app.js" type="text/javascript"></script>
  </body>
  </html>   
            
